body {
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.h1_name {
    color:darkgray;
    position:absolute;
    top: 0;
    left: 2px;
    margin:0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: right;
    align-items: right;
    line-height: 0.5rem;
}

.container ul {
    display: flex;
    gap: 20px;
    position:absolute;
    top: 0;
    right: 2px;
    margin: 10px 10px;
}

li {
    list-style-type: none;
}

.btn {
    background: orange;
    color: white;
    border:5px;
    border-radius: 5px;
    padding: 10px;
    display:inline;
}

.home {
    margin-top: 50px;
    display: flex;
    align-items: left;
    gap: 100px;
}

.home img {
    width: 200px;
    height: max-content;
    border-radius: 50%;

}

.name {
    color: orange;
    font-style: bold;
}

.about {
    margin-top: 50px;
    display: flex;
    gap: 100px;
    align-items: right;
}

.about img {
    width: 200px;
    height: max-content;
    border-radius: 50%;
} 

.service {
    margin-top: 10px;
    text-align:center;

}

.container {
    display: flex;
    justify-content: center;
    align-items:center;
}
.box {
    width: 10rem;
    height: 10rem;
    background:lightgray;
    padding: 10px; 
    margin: 10px;
    gap: 50px;
    text-align: left;
    overflow: hidden;
}

.project {
    margin-top:10px;
    text-align: center;
}

.project ul {
    display:flex;
    justify-content: center;
    flex-wrap:wrap ;
    margin-top: 20px;
    gap: 20px;
}

.project li {
    margin-top: 50px;
    background: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    transition:transform 0.5s, background 0.5s ;
}

.project li:hover {
    background: orange;
}

.project_card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project_card img {
    margin-top: 50px;
    width: 400px;
    height: 400px;
}

.project_content {
    text-align: left;
    p {
        color: orange;
    }
}

.testimonial {
    text-align: center;
}

.testimonial_card {
    margin: auto;
    width: 700px;
    height: 200px;
    margin-top: 50px;
    background: #f4f4f4;
    display: flex;
    align-items: right;
    text-align: left;
    border-radius: 10px;
}
.testimonial_card img {
    width: 100px;
    height: max-content;
    border-radius: 81px;
    float: left;
    padding: 10px;
}

.testimonial_div {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs {
    width: 10px;
    height: 1px;
    background:lightgray;
    padding: 10px; 
    margin: 10px;
    gap: 50px;
    border-radius: 4px;
}

.testimonial form {
    margin: auto;
    max-width: 500px;
    text-align: center;
    margin-top: 40px;

}

input {
    border: 1px solid lightgray;
    padding: 12px;
    border-radius: 5px;
}

form button {
    background: orange;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 700;
}

footer {
    text-align: center;
    margin-top: 80px;
    background: lightgray;
}

.last {
    background: lightgray;
    height: 100px;
}
.list h2 {
    color: gray;
    margin-top: 10px;
}


.last Ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.last li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.yes {
    background: brown;
    color: #fff;
    font-weight: 400;
    height: 30px;
}